h1 {
    text-align: center;
}
.marker {
    width: 250px;
    height: 30px;
    background-color: rgb(0, 0, 0);
    margin: 20px auto;
}
.red {
    background: linear-gradient( rgb(121, 6, 6), rgb(235, 26, 26), rgb(102, 8, 8));
    
}
.green {
    background: linear-gradient(rgb(3, 97, 3), rgb(25, 255, 25), rgb(7, 104, 7));
    box-shadow: 0 0 20px 0 rgba(0,255,0,0.8);
    
}
.blue {
    background: linear-gradient(rgb(8, 8, 107), rgb(39, 39, 226), rgb(7, 7, 102));
    box-shadow: 0 0 20px 0 rgba(0,0,255,0.8);
    
}
.cap {
    width: 50px;
    height: 30px;
}
.sleeve {
    width: 150px;
    height: 30px;
    background-color: rgba(255,255,255,0.5);
    border-left: 10px double rgba(0, 0, 0,0.8);
}
.cap, .sleeve {
    display: inline-block;
}

